body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.section_values {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 13%;
}

table {
    width: 100%;
    border-collapse: collapse;
    direction: rtl;
    /* لضبط اتجاه النص إلى اليمين */
}

th,
td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
    position: relative;
}

.diagonal-header {
    padding: 0;
}

.diagonal-header .category1 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    white-space: nowrap;
}

.diagonal-header .category2 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    white-space: nowrap;
}

.border_solid {
    transform: translate(0, -50%) rotate(-45deg);
    width: 100%;
    height: 2px;
    background-color: black;
}

.status_select {
    width: 100%;
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 5px;
}

.correct-icon {
    background-color: green;
    border-radius: 50%;
}

.mistake-icon {
    background-color: red;
    border-radius: 50%;
}

/* Media query for overflow scrolling */
@media screen and (max-width: 993px) and (min-width: 230px) {
    .table-container {
        overflow-x: auto;
    }

    table {
        width: auto;
        min-width: 600px;
        /* Set a minimum width for the table */
    }
}

@media screen and (max-width: 600px) and (min-width: 230px) {
    html {
        height: 250vh;
    }

    body,
    .section_values,
    .container,
    form {
        height: 100%;
    }

    .table-container {
        height: 85%;
    }

    table#dataTable {
        height: 90%;
        margin: 8% 0;
        overflow-y: scroll;
        width: 100%;
    }

    .error {
        border: 1px solid red;
    }

    #notification {
        display: none;
        width: 100%;
        height: 50px;
        background-color: white;
        position: absolute;
        top: 0;
        margin: 1% 0;
        align-items: center;
        justify-content: center;
        box-shadow: white 0 0 8px 4px;
        color: red;
        text-align: center;
    }

    .button_submit {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000000;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 2%;
        transition: 0.6s;
    }

    .button_submit:hover {
        background-color: #00000046;
    }